.bg-light {
    background-color: rgb(235, 240, 255);
    color: black;
}

.bg-dark {
    background-color: rgb(22, 22, 22);
    color: white;
}


.container-main {
    width: 100%;
    height: 100vh;
}